@import url(http://fonts.googleapis.com/css?family=Habibi);

body.dash{
    /*font-family: 'Habibi', serif;*/
    background-color: #0769AD;
    margin:0px;
    min-height:600px;
    min-width:1024px;
    position:relative;
}
header{
    height:65px;
    font-color:#7EB5D6;
    text-align:center;
    background-color: #5f4819;
    color:white;
}
.logo{
    float:left;
    width:350px;
}
.title{
    /*float:left;
    text-align:center;*/
    
}
iframe{
    height:100%;
    width:100%;
}
header img{
    height:100%;
}
.content{
    /*margin:20px 0;*/
    min-height:515px;
    height:515px;
    min-width:1024px;
    background-color:red;
    /*border-radius: 20px;*/
    background-color:white;
    overflow: hidden;
}
section.left{
    cursor:pointer;
    /*border-radius: inherit;*/
    width:200px;
    /*min-width:200px;*/
    float:left;
    background-color:#DFC184;
    font-color:#644436;
    font:arial;
    font-size:10px;
    height:100%;
    position:relative;
    /*overflow-y: scroll;*/
}
.left_header{
    /*overflow-y: scroll;*/
    /*box-sizing: border-box;
    /padding-bottom:30px;*/
    height:100%;
    
}
.left_footer{
    position:absolute;
    bottom:0px;
    /*height:34px;*/
    background-color: #cfa247;
    width:100%;
    text-align:center;
}
section.center{
    width:325px;
    min-width:674px;
    float:left;
    /*background-color:aqua;*/
    height:100%;
    /*overflow-y: scroll;*/
}
section.right{
    width:250px;
    float:right;
    height:100%;
    background-color:#DFC184;
    font-color:#644436;
}
footer{
    background-color: #403011;
    height:20px;
    position:absolute;
    bottom:0px;
    width:100%;
    color:white;
    text-align: center;
    padding-top:10px;
    /*background-color:blue;*/
}
.tables{
    padding:10px;
    font-size: 14px;
    /*margin-bottom: 20px;*/
}
.table{
    /*font-weight: bold;*/
    /*padding:5px;*/
    vertical-align: central;
    margin:4px;
}
.green{
    color: #008f00;
    /*background-color: green;*/
}
.red{
    color:#B21522;
    /*background-color: red;*/
}
.tablename, .column{
    text-transform: capitalize;
    /*height:25px;*/
    padding:2px;
    padding-left:15px;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.column{
    padding-left:0px;
    
}
.tablename:hover, .column:hover{
    background-color: white;
}

.select{
    background-image:url('../images/check.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
}
.unselect{
    
}
.columns{
   transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    display:none;
    padding-left: 40px;
    margin:10px 0;
}
span.opr{
    width:15px;
    display: inline-block;
}






















#optionsdiv
{ 
        position:absolute;
	height:600;
	width:300;
	border:solid 4px #000;
	background-color:#903 ;
	margin-top:-35;
}
#tablediv
{
	position:absolute;
	width:1020;
	height:600;
	background-color:#903;
	border:solid 4px #000;
	margin-top:-35;
	margin-left:310;
}
#tableelements
{
	overflow:auto;
	width:600;
	height:300;
	background-color:#CCC;
	margin-top:150;
	margin-left:210;
	
	
	
	
}
#restable
{
	
	
	
	
	
}

.key{
    /*background-color: white;*/
height: 10px;
width: 15px;
color: blue;
display: inline-block;
text-align: center;

/*background-position: center;*/
background-size: 15px 10px;
margin-right: 5px;
}
.pri{
    background-image: url('../images/pri.png');
}
.for{
    background-image: url('../images/ext.png');
}
h1{
    font-size: 50px;
    text-align:center;
}

/* Grid CSS */
#myGrid{
    font-size:10px;
}
.gridFooter a{
    font-size: 20px;
}

#queryInfo p {
display: inline;
padding: 10px;
}
#queryInfo{
    text-align: left;
    float:left;
    padding:10px;
}
#queryContent{
    padding:20px;
}
/* clean gray
*******************************************************************************/
button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px; }
  button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
  