#dbdiv
{
	height:300;
	width:300;
	background-color:#7EB5D6;
	margin-left:550;
	margin-top:150;
	border:solid 1px black;
	
      	
	
}
#image
{
position:absolute;
margin-top:-150;
margin-left:20;





}
#image1
{
position:absolute;
margin-top:-150;
margin-left:680;



}